.primary_btn {
  padding: 18px 14px;
  font-weight: 600;
  background-color: #000000;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;

}

.outline_btn {
  padding: 18px 14px;
  font-weight: 600;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  width: 100%;
  margin-top: 17px;

  
}
